---
import Layout from "$lib/layouts/layout.astro";
import MyCard from "$lib/components/my-card.svelte";
---

<Layout title="Home">
  <div class="h-full flex flex-col items-center place-content-center bg-muted/40">
    <MyCard client:visible />
  </div>
</Layout>
