---
import "$lib/styles/app.css";
import MyCard from "$lib/components/my-card.svelte";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
    <style>MyCard { display: block; }</style>
  </head>
  <body>
    <div class="container mt-10 flex gap-10">
      <MyCard client:load></MyCard>
    </div>
  </body>
</html>
